[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/craftoine/diff-gaussian-rasterization_transmittance_based
	branch = main
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://github.com/craftoine/sibr_core_transmitance_based
